body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh; 
    transition: 0.25s;
    background: #e1e1e1;
  }

  body.dark {
    background: #192029;
    color: rgb(0, 0, 0);
  }


.container {
    position: relative;
    max-width: 50.25rem;
    width: 100%;
    background: #E4DFFB;
    padding: 34px;
    border-radius: 26px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .container header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
  }
  
  .container .form {
    margin-top: 15px;
  }
  
  .form .input-box {
    width: 100%;
    margin-top: 10px;
  }
  
  .input-box label {
    color: #000;
  }
  
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #8C52FF;
    border-radius: 6px;
    padding: 0 1px;
    background: #E4DFFB;
  }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  
  .form .gender-box {
    margin-top: 10px;
  }
  
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  
  .form .gender {
    column-gap: 5px;
  }
  
  .gender input {
    accent-color: #8C52FF;
  }
  
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  
  .gender label {
    color: #000;
  }
  
  .address :where(input, .select-box) {
    margin-top: 10px;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #E4DFFB;
  }
  
  .form button {
    position: relative;
    height: 35px;
    width: 50.5rem;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #725AC1;
  
  }

  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  button:active {
    transform: scale(0.9);
  }
  
  .form button:hover {
    background: #8C52FF;
  }
